@import url("/assets/style/reset.css");
header{
    position: relative;
    .back_button{
        position: absolute;
        display: flex;
        left: 10%;
        .left_arrow{
            display: flex;
            padding: 20px;
            width: 30px;
            justify-content: center;
            background-color: #D5966C;
            svg{
                width: 20px;
                
            }
            &:hover {
                background-color: #000000;
            }
            &:hover + .back_text {
                background-color: #D5966C;
            }
        }
        .back_text{
            display: flex;
            align-items: center;
            padding: 20px;
            background-color: black;
            font-family: "BigSholderDisplay";
            color: var(--White, #FFF);
            font-size: 1.25rem;
            font-weight: 800;
            letter-spacing: 0.22725rem;
            &:hover{
                background-color: #D5966C;
            }
        }
    }
    .locate_icon{
        position: absolute;
        left: 50%;
        top: 50%;
        .square{
            width: 50px;
            height: 40px;
            background-color: black;
        }
        .triangle {
            margin-left: 15px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top: 0;
            border-bottom: 20px solid black;
            transform: rotate(-180deg);
          }
          .circle{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #D5966C;
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
          }
    }
}
main{
    background-color: black;
    margin-top: -4px;
    padding: 10% 15%;
    overflow: hidden;
    .container{
        display: flex;
        justify-content: space-between;
        color: white;
        .left_side{
            flex-basis: 50%;
            .left_side_text{
                p{
                    width: 50%;
                    color: var(--White, #FFF);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: "BigSholderDisplay";
                    font-size: 8.375vw;
                    font-weight: 900;
                    line-height: 8.375vw; 
                    text-transform: uppercase;
                }
            }
        }
        .right_side{
            flex-basis: 50%;
            .right_side_text{
                display: flex;
                flex-direction: column;
                gap: 30px;
                .street{
                    color: var(--Gold, #D5966C);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 2.25rem;
                    font-family: "BigSholderDisplay";
                    font-weight: 900;
                    line-height: 2.25rem; /* 100% */
                    text-transform: uppercase;
                }
                .address{
                    display: flex;
                    flex-direction: column;
                    color: var(--White, #FFF);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: "Outfit";
                    font-size: 2vw;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 2vw;
                }
                .info_address{
                    color: var(--White, #FFF);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: "Outfit";
                    font-size: 2.5vw;
                    font-weight: 300;
                    line-height: 2.5vw;
                }
            }
        }
    }
}

footer{
    background-color: #D5966C;
    padding: 5% 10%;
    display: flex;
    color: #000000;
    .foot_left_side{
        flex-basis: 20%;
        p{
            font-family: "BigSholderDisplay";
            font-size: 45px;
            font-weight: 800;
        }
    }
    .foot_middle_side{
        flex-basis: 60%;
        p{
            margin-left: 100px;
            width: 60%;
            font-family: "Outfit";
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1.75rem; /* 155.556% */
        }
    }
    .foot_right_side{
        flex-basis: 20%;
        .icons{
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            svg{
                width: 20px;
            }
            .social_media{
                fill: black;
            }
            a:hover .social_media{
                fill: white;
            }
        }
    }
}









  @media only screen and (max-width: 800px) {
    header{
        .back_button{
            left: 0;
            .left_arrow{
                padding: 10px;
                width: 20px;
                svg{
                    width: 10px;
                }
            }
            .back_text{
                padding: 10px;
                font-weight: 700;
                font-size: 1rem;
            }
        }
    }
    main{
        .container{
            flex-direction: column;
            .left_side{
                flex-basis: 100%;
                .left_side_text{
                    width: 100%;
                    p{
                        width: 100%;
                    }
                }
            }
            .right_side{
                .right_side_text{
                    .address{
                        font-size: 5vw;
                        line-height: 5vw;
                    }
                    .info_address{
                        font-size: 5vw;
                        line-height: 5vw;
                    }
                }

            }
        }
    }
  }



  @media only screen and (max-width: 600px){
    footer{
        flex-direction: column;
        gap: 15px;
        .foot_middle_side{
            p{
                margin-left: 0;
                width: 100% ;
            }
        }
        .foot_right_side{
            .icons{
                justify-content: flex-start;
            }
        }
    }
  }