@font-face {
    font-family: "BigSholderDisplay";
    src: local("Big Shoulder Display"), local("Big-Shoulder-Display"), url("../font/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Outfit";
    src: url("/assets/font/Outfit/Outfit-VariableFont_wght.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    display: flex;
    flex-direction: row;
    height: 800px;
    margin-bottom: 100px;
}
header >div {
    height: inherit;
}
header .bg_head_black{
    background-color: #151515;
    flex-basis: 30%;
    position: relative;
}
.bg_head_black .bg_black_text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    p{
        text-align: right;
        color: var(--White, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "BigSholderDisplay";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: 5.5rem; /* 91.667% */
        text-transform: uppercase;
    }
}
header .bg_head_img{
    background-image: url("/assets/image/img/Rectangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 40%;
    position: relative;
}
.bg_head_img .bg_img_text{
    text-align: left;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    p{
        text-align: left;
        color: #151515;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "BigSholderDisplay";
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: 5.5rem; /* 91.667% */
        text-transform: uppercase;
    }
}
header .bg_head_white{
    flex-basis: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    .text{
        width: 85%;
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
        p{
            color: var(--Dark-Grey, #444);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: "Outfit";
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 300;
            line-height: 2rem; /* 145.455% */
        }
    }
    .button{
        display: flex;
        align-items: center;
        position: absolute;
        top: 60%;
        left: 20%;
        transform: translate(-50%, -60%);
        font-family: "Outfit";
        .location{
            background-color: #151515;
            padding: 20px 40px;
            color: var(--White, #FFF);
            font-family: "BigSholderDisplay";
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 0.22725rem;
            &:hover{
                background-color: #D5966C;
            }
            &:hover + .location_arrow{
                background-color: #151515;
            }
        }
        .location_arrow{
            background-color: #D5966C;
            padding: 20px 40px;
            font-family: "BigSholderDisplay";
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 0.22725rem;
        }

    }
}

main{
    padding: 10%;
    .content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .content_top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content_top_left{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .head_text{
                    width: 60%;
                    color: var(--Almost-Black, #151515);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: "BigSholderDisplay";
                    font-size: 3.75rem;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 3.75rem; /* 100% */
                    text-transform: uppercase;
                }
                .info_text{
                    width: 60%;
                    color: var(--Dark-Grey, #444);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: "Outfit";
                    font-size: 1.375rem;
                    font-weight: 300;
                    line-height: 2rem; 
                }
            }
        }
        .content_bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 50px;
            .content_bottom_left{
                .image img{
                    width: 700px;
                    height: 730px;
                }
            }
            .content_bottom_right{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .image img{
                    width: 465px;
                }

                .bottom_right_text{
                    background-color:#151515;
                    padding: 70px 50px;
                    flex-basis: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .right_heading{
                        color: var(--White, #FFF);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: "BigSholderDisplay";
                        font-size: 3.75rem;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 3.75rem; /* 100% */
                        text-transform: uppercase;
                    }
                    .right_info_text{
                        color: var(--White, #FFF);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: "Outfit";
                        font-size: 1.375rem;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 2rem; /* 145.455% */
                    }
                }
        }
    }
}
}